.create-post-popup {
  background-color: rgba(0, 0, 0, 0.473);
  @extend %df-j-cent-a-cent;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  width: 100%;
  height: 0px;
  @include transition(all, 0.3s, 0s, ease-in-out);
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  .create-post-container {
    background-color: rgb(30, 29, 29);
    @extend %df-j-bet-a-cent;
    flex-direction: column;
    position: relative;
    width: 500px;
    // height: 600px;
    padding: 15px 15px;
    @include borderRadius(10px);
    overflow-x: hidden;

    &::-webkit-scrollbar {
      background-color: #222;
      width: 5px;
    }

    &::-webkit-scroenlbar-track {
      background-color: #ddd;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 255, 0.219);
      cursor: pointer;
      @include borderRadius(10px);
      @media (max-width: 700px) {
        display: none;
      }
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: blue;
    }

    .create-section {
      @extend %df-j-bet-a-cent;
      flex-direction: column;
      position: absolute;
      left: 0%;
      top: 0;
      width: 100%;
      height: 100%;
      min-height: 390px;
      padding: 15px 15px;
      @include transition(all, 0.5s, 0s, ease-in-out);

      header {
        width: 100%;
        margin-bottom: 15px;
        .title-and-close {
          @extend %df-a-cent;
          padding-bottom: 10px;
          margin-bottom: 20px;
          border-bottom: 1px solid rgba(255, 255, 255, 0.717);
          button.close-window {
            background-color: #777;
            width: 30px;
            height: 30px;
            border: none;
            outline: none;
            cursor: pointer;
            @include borderRadius(50%);
            i.close-window {
              color: white;
              font-size: 20px;
            }
          }

          h2 {
            color: white;
            width: 100%;
            user-select: none;
            text-align: center;
            text-transform: capitalize;
          }
        }

        .user-info {
          @extend %df-a-cent;
          gap: 10px;
          .image {
            width: 50px;
            height: 50px;
            overflow: hidden;
            @include borderRadius(50%);
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          .name-and-authorization {
            h4 {
              color: white;
            }

            select {
              background-color: #444;
              color: white;
              width: 80px;
              text-align: center;
              border: none;
              outline: none;
              cursor: pointer;
              @include borderRadius(2px);
              option {
                background-color: #777;
              }
            }
          }
        }
      }

      & > textarea {
        background-color: transparent;
        color: white;
        width: 100%;
        height: 70px;
        min-height: 70px;
        padding: 10px;
        font: {
          family: sans-serif;
          size: 20px;
        }
        border: none;
        outline: none;
        resize: none;

        &::-webkit-scrollbar {
          width: 5px;
        }

        &::-webkit-scroenlbar-track {
          background-color: #ddd;
        }

        &::-webkit-scrollbar-thumb {
          background-color: rgba(0, 0, 255, 0.301);
          cursor: pointer;
          border-radius: 10px;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          -ms-border-radius: 10px;
          -o-border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb:hover {
          background-color: blue;
        }
      }

      .images {
        position: relative;
        width: 100%;
        height: 100%;
        min-height: 235px;
        overflow-x: hidden;
        button {
          background-color: #777;
          position: absolute;
          top: 10px;
          left: 10px;
          width: 30px;
          height: 30px;
          border: none;
          outline: none;
          cursor: pointer;
          @include borderRadius(50%);
          i {
            color: white;
            font-size: 20px;
          }
        }

        .images-container {
          width: 100%;
          height: 100%;
          &::-webkit-scrollbar {
            display: none;
          }

          .image {
            display: none;
            width: 100%;
            height: 100%;
            overflow: hidden;
            &::-webkit-scrollbar {
              display: none;
              width: 10px;
            }
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              user-select: none;
            }

            video {
              width: 100%;
            }

            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4) {
              display: block;
            }
          }
        }

        .images-container-3,
        .images-container-4,
        .images-container-exceeds-4 {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          gap: 5px;
          .image:first-child {
            width: 100%;
          }
        }

        .images-container-4,
        .images-container-exceeds-4 {
          .image:not(:first-child) {
            width: 31.33%;
            height: 50%;
          }
        }

        .images-container-3 {
          .image:not(:first-child) {
            width: 49%;
            height: 50%;
          }
        }

        .images-container-exceeds-4 {
          .image:nth-child(4) {
            position: relative;
            cursor: pointer;
            &::before {
              content: attr(data-imagecount);
              background-color: rgba(0, 0, 0, 0.464);
              @extend %df-j-cent-a-cent;
              position: absolute;
              width: 100%;
              height: 100%;
              color: white;
              word-spacing: -10px;
              font-size: 30px;
            }
          }
        }
      }

      .add-image-and-create {
        width: 100%;
        .add-images {
          @extend %df-j-bet-a-cent;
          padding: 10px 20px;
          margin: 15px 0;
          border: 1px solid white;
          @include borderRadius(5px);
          input {
            display: none;
          }

          i {
            color: white;
            font-size: 30px;
            cursor: pointer;
          }

          h3 {
            color: white;
          }
        }

        .send-btn {
          background-color: blue;
          color: white;
          width: 100%;
          padding: 10px;
          font-size: 19px;
          border: none;
          outline: none;
          cursor: pointer;
          @include borderRadius(10px);
        }
      }
    }

    .images-section {
      position: absolute;
      left: -100%;
      top: 0;
      width: 100%;
      @include transition(all, 0.5s, 0s, ease-in-out);

      .go-back {
        color: white;
        text-align: end;
        padding: 5px 10px 0 0;
        i {
          font-size: 25px;
          background-color: #777;
          @include borderRadius(50%);
          padding: 7px;
          cursor: pointer;
        }
      }

      .images {
        @extend %df-j-start-a-cent;
        flex-wrap: wrap;
        gap: 5px;
        padding: 10px;

        .image {
          position: relative;
          width: 49%;
          height: 200px;
          overflow: hidden;
          button {
            background-color: #777;
            position: absolute;
            left: 5px;
            top: 5px;
            width: 25px;
            height: 25px;
            border: none;
            outline: none;
            cursor: pointer;
            @include borderRadius(50%);
            i {
              color: white;
              font-size: 20px;
            }
          }
          img,
          video {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}
